@model Ianitor.Osp.Backend.Identity.ViewModels.Shared.UserInfoViewModel

<div class="k-card m-2">
    <div class="k-card-header">
        <h5 class="k-card-title">
            <p>@Texts.Backend_Identity_UserInfo_Header</p>
        </h5>
    </div>
    <div class="k-card-body">
        <table>
            <tr>
                <td>@Texts.Backend_Identity_UserInfo_Id_Label</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>@Texts.Backend_Identity_General_Username_Label</td>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <td>@Texts.Backend_Identity_UserInfo_FirstName_Label</td>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <td>@Texts.Backend_Identity_UserInfo_LastName_Label</td>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <td>@Texts.Backend_Identity_Login_Email_Label</td>
                <td>@Model.EMail</td>
            </tr>
            <tr>
                <td>@Texts.Backend_Identity_UserInfo_FailedAttempts_Label</td>
                <td>@Model.AccessFailedCount</td>
            </tr>
        </table>
    </div>
</div>
<style>
       th, td { 
            padding:5px 
        } 
</style>