@model Ianitor.Osp.Backend.Identity.ViewModels.Account.LogoutViewModel
@{
    ViewBag.Title = @Texts.Backend_Identity_Logout_Title;
}


<div class="row justify-content-center">
    <div class="col-sm-4">
        <form asp-action="Logout">
            <input type="hidden" name="logoutId" value="@Model.LogoutId"/>
            <fieldset>
                <div class="k-card">
                    <div class="k-card-header">
                        <div class="k-card-title">
                            <h1>@Texts.Backend_Identity_Logout_Title</h1>
                        </div>
                    </div>
                    <div class="k-card-body">
                        <p>@string.Format(Texts.Backend_Identity_Logout_LogoutMessage, OemOptions.Value.ApplicationName)</p>
                    </div>
                    <div class="k-card-actions k-card-actions-stretched">
                        <button class="k-button k-primary">@Texts.Backend_Identity_Common_Yes</button>
                        <a class="k-button" asp-controller="Home" asp-action="Index">@Texts.Backend_Identity_Common_No</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>