@model Ianitor.Osp.Backend.Identity.ViewModels.Manage.SetPasswordViewModel
@{
    ViewData["Title"] = @Texts.Backend_Identity_SetPassword_Title;
}

<div class="row justify-content-center">
    <h1>@Texts.Backend_Identity_SetPassword_Title</h1>
</div>
<div class="row justify-content-center">
    <p>@string.Format(Texts.Backend_Identity_SetPassword_Subtitle, OemOptions.Value.ApplicationName)</p>
</div>

<form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="k-card">
                <div class="k-card-header">
                    <h5 class="k-card-title">@Texts.Backend_Identity_SetPassword_Title</h5>
                </div>
                <div class="k-card-body">
                    <fieldset>
    <div class="form-group">
                            <kendo-textbox name="NewPassword" type="password" autocomplete="off">
                                <textbox-label content="@Texts.Backend_Identity_NewPassword_Label" floating="true"/>
                            </kendo-textbox>
                            <span asp-validation-for="NewPassword" class="sg-validation-error"></span>
    </div>
    <div class="form-group">
                            <kendo-textbox name="ConfirmPassword" type="password" autocomplete="off">
                                <textbox-label content="@Texts.Backend_Identity_ConfirmNewPassword_Label" floating="true"/>
                            </kendo-textbox>
                            <span asp-validation-for="ConfirmPassword" class="sg-validation-error"></span>
        </div>
                    </fieldset>
                </div>
                <div class="k-card-actions k-card-actions-end">
                    <button type="submit" class="k-button k-primary">Set password</button>
    </div>
            </div>
        </div>
    </div>
</form>